@import url(/css/index.css);
@import url(/css/contacto.css);
@import url(/css/productos.css);
@import url(/css/presupuesto.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
}

body {
    width: 100vw;
    background-color: #fff;
    color: #fff;
    text-align: center;
    
}