<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClothesMe.Co | Presupuesto</title>
    <link rel="stylesheet" href="../trabalho_final_HTML/css/global.css">
    <script src="https://kit.fontawesome.com/7819412f9b.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <p class="signUp_container">Regístrate y obtén un 20% de descuento en tu primer pedido. <span class="signUp_msg">Regístrate ahora</span>
        </p>
        <nav class="navBar_container">
            <span class="logo"><a href="../trabalho_final_HTML/index.html">ClothesMe.co</a></span>
            <ul class="navBar_list">
                <li><a href="../trabalho_final_HTML/index.html">Inicio</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li class="word--style"><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./productos.html">Productos</a></li>
            </ul>
        </nav>
    </header>

    <section class="presupuesto_container">
        <h1>Solicita ahora tu presupuesto para nuestros combos mensuales</h1>
        <form name="formulario">
            <div class="form_left">
                <input type="text" name="nombre" pattern="[A-Za-z]{1,32}" autofocus placeholder="Nombre" required>
                <input type="text" name="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" size="30" placeholder="Email" required>
                <input type="text" name="telefono" pattern="{9}" minlength="9" maxlength="9" placeholder="Teléfono" required>
                
            </div>
            <div class="form_right">
                <textarea name="info" cols="30" rows="10" placeholder="Cuéntanos más..."></textarea>
                <div>
                    <input type="checkbox" required>
                    <label>Acepto la política de privacidad</label>
                </div>
                <input class="btn" type="submit" name="boton" value="Enviar">
            </div>
        </form>
    </section>

    <footer>

        <div class="footer_container">

            <div class="footer_left">
                <span class="logo">ClothesMe.co</span>
                <P>Tenemos ropa que se adapta a tu estilo y que estarás orgulloso de usar.</P>

                <div class="socialMedia">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-tiktok"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <p>C. Reyes Católicos, 57, 03003 Alicante</p>
            </div>
            <div class="footer_right">
                <h3>Empresa</h3>
                <ul>
                    <li>Sobre</li>
                    <li>Características</li>
                    <li>Nostro Trabajo</li>
                    <li>Carrera</li>
                </ul>
            </div>
            <div class="footer_right">
                <h3>Contacto</h3>
                <ul>
                    <li>El Blog</li>
                    <li>Correo Electrónico</li>
                    <li>Ajuda</li>
                    <li>Trabaja con nosotros</li>
                </ul>
            </div>
            <div class="footer_right">
                <h3>Servicios</h3>
                <ul>
                    <li>Financiación</li>
                    <li>Solicitar factura</li>
                    <li>Tarjeta regalo</li>
                    <li>Marcas</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="footer_rights">
            
            <p>ClothesMe.co © 2000-2024, All Rights Reserved</p>

            <div>
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-paypal"></i>
                <i class="fa-brands fa-cc-apple-pay"></i>
            </div>
        </div>
        
    </footer>
</body>

</html>