<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClothesMe.Co | Productos</title>
    <link rel="stylesheet" href="/css/global.css">
    <script src="https://kit.fontawesome.com/7819412f9b.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <p class="signUp_container">Regístrate y obtén un 20% de descuento en tu primer pedido. <span class="signUp_msg">Regístrate ahora</span>
        </p>
        <nav class="navBar_container">
            <span class="logo"><a href="/index.html">ClothesMe.co</a></span>
            <ul class="navBar_list">
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li class="word--style"><a href="./productos.html">Productos</a></li>
            </ul>
        </nav>
    </header>

    <section class="gallery">
        <h1>Más vendido | Hombres</h1>
        <div class="gallery_container">
            <div class="clothe_container">
                <img src="../images/clothes/new01.png" alt="Fotografía Camiseta roxy">
                <p>Camiseta roxy</p>
                <div class="clothe_review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Є50,00</p>
            </div>
            <div class="clothe_container">
                <img src="../images/clothes/new02.png" width="295" height="298" alt="Fotografía Camiseta Zara top">
                <p>Camiseta Zara top</p>
                <div class="clothe_review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>Є30,00</p>
            </div>
            <div class="clothe_container">
                <img src="../images/clothes/new03.png" width="295" height="298" alt="Fotografía Camiseta Gucci con rayas">
                <p>Camiseta Gucci con rayas</p>
                <div class="clothe_review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                </div>
                <p>Є19,99</p>
            </div>
            <div class="clothe_container">
                <img src="../images/clothes/new04.png" width="295" height="298" alt="Fotografía Pantalones brillante verano">
                <p>Pantalones brillante verano</p>
                <div class="clothe_review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>Є39,99</p>
            </div>
            <div class="clothe_container">
                <img src="../images/clothes/new05.png" width="295" height="298" alt="Fotografía Camiseta with stripes Prada">
                <p>Camiseta with stripes Prada</p>
                <div class="clothe_review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>Є64.50</p>
            </div>
            <div class="clothe_container">
                <img src="../images/clothes/new06.png" width="295" height="298" alt="Fotografía Pantalones Versache">
                <p>Pantalones Versache</p>
                <div class="clothe_review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>Є102,99</p>
            </div>
            <div class="clothe_container">
                <img src="../images/clothes/new07.png" width="295" height="298" alt="Fotografía Camiseta Lua">
                <p>Camiseta Lua</p>
                <div class="clothe_review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>Є69,90</p>
            </div>
            <div class="clothe_container">
                <img src="../images/clothes/new08.png" width="295" height="298" alt="Fotografía Skinny Pantalones">
                <p>Skinny Pantalones</p>
                <div class="clothe_review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>Є58,19</p>
            </div>
        </div>
        <button class="btn">Próximo</button>
    </section>

    <footer>
        <div class="footer_container">
            <div class="footer_left">
                <span class="logo">ClothesMe.co</span>
                <P>Tenemos ropa que se adapta a tu estilo y que estarás orgulloso de usar.</P>

                <div class="socialMedia">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-tiktok"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <p>C. Reyes Católicos, 57, 03003 Alicante</p>
            </div>
            <div class="footer_right">
                <h3>Empresa</h3>
                <ul>
                    <li>Sobre</li>
                    <li>Características</li>
                    <li>Nostro Trabajo</li>
                    <li>Carrera</li>
                </ul>
            </div>
            <div class="footer_right">
                <h3>Contacto</h3>
                <ul>
                    <li>El Blog</li>
                    <li>Correo Electrónico</li>
                    <li>Ajuda</li>
                    <li>Trabaja con nosotros</li>
                </ul>
            </div>
            <div class="footer_right">
                <h3>Servicios</h3>
                <ul>
                    <li>Financiación</li>
                    <li>Solicitar factura</li>
                    <li>Tarjeta regalo</li>
                    <li>Marcas</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="footer_rights">
            
            <p>ClothesMe.co © 2000-2024, All Rights Reserved</p>

            <div>
                <i class="fa-brands fa-cc-visa"></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-brands fa-cc-paypal"></i>
                <i class="fa-brands fa-cc-apple-pay"></i>
            </div>
        </div>
        
    </footer>
</body>

</html>